{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
    <h1>Formulaire de contact</h1>
    {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ label }}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <p class="mb-0">{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}
    {{ form(form) }}
{% endblock %}
